version: '3.9'

services:
  server:
    image: nerya177944/crm-server:latest
    container_name: crm-server
    restart: always
    env_file:
      - ./server/.env
    ports:
      - '3000:3000'

  client:
    image: nerya177944/crm-client:latest
    container_name: crm-client
    restart: always
    depends_on:
      - server
    ports:
      - '80:80'
      - '443:443'
    volumes:
      - ./client/nginx.conf:/etc/nginx/conf.d/default.conf:ro
      - ./webroot:/var/www/html:ro
      - ./certbot-etc:/etc/letsencrypt:ro
