version: '3.8'

services:
  # --- צד שרת ---
  crm-server:
    image: nerya177944/crm-server:latest
    container_name: crm-server
    restart: always
    ports:
      - '3000:3000'
    environment:
      - PORT=3000
      # חיבור למונגו (שים לב לשם השירות mongo)
      - MONGO_URI=mongodb://mongo:27017/crmdb
    depends_on:
      - mongo
    networks:
      - crm-network

  # --- צד לקוח ---
  crm-client:
    image: nerya177944/crm-client:latest
    container_name: crm-client
    restart: always
    ports:
      - '8081:80' # מיפוי לפורט 8081 כדי לא להתנגש עם הפורטפוליו
    depends_on:
      - crm-server
    networks:
      - crm-network

  # --- Database (MongoDB) ---
  mongo:
    image: mongo:6.0
    container_name: crm-mongo
    restart: always
    volumes:
      - mongo-data:/data/db
    networks:
      - crm-network

networks:
  crm-network:
    driver: bridge

volumes:
  mongo-data:
