.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px;
}

.title {
  text-align: center;
  margin: 0 0 16px;
}

.fields {
  width: 100%;
  max-width: 420px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.ViewLabel {
  width: 100%;
  height: 50px;
}

.ViewLabel select {
  width: 100%;
  height: 40px;
  border-radius: 8px;
}
