.container {
  width: 40%;
  margin: 30px;
  margin-left: 100px;
}

.input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 5px;
}

.addClientHeader {
  font-family: fantasy;
  font-size: 40px;
  margin: 30px;
  color: #000000;
  margin-left: 100px;
}
