/* .searchContainer {
  box-sizing: border-box;
  margin: 0;
  padding: 10px 20px;
}

.searchSelectContainer {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-top: 20px;
}

.searchInput {
  display: flex;
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  align-items: center;
}

.searchSelect {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f6f6f6;
  color: #222;
  font-size: 1.1em;
  transition: border 0.2s, box-shadow 0.2s;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.searchSelect:focus {
  border-color: #0a0210;
  box-shadow: 0 0 0 2px #8863a670;
  outline: none;
}

.clientCard {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  background-color: #f9f9f9;
  max-width: 400px;
}

.clearButton {
  background-color: #ff4d4d;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}

#count {
  font-weight: bold;
  margin-top: 10px;
} */
