.ViewUser {
  flex-direction: column;
  display: flex;
  align-items: center;
}

.form {
  background: #f3f4f6;
  border: 1px solid black;
  border-radius: 5px;
  width: 30%;
  padding: 20px;
}

.ViewLabel {
  background-color: aqua;
}

.ViewLabels {
  width: 100%;
}
