.button {
  background-color: #548fa3;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.clearButton {
  background-color: #ff4d4d;
}

.addClientBtn {
  margin-top: 20px;
}

.smallBtn {
  background: #eee;
  border: black solid 1px;
  border-radius: 6px;
  padding: 2px 4px;
  min-width: 20px;
  height: 28px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.2s;
}

.smallBtn:hover {
  background: #d1d1d1;
}
