/* טבלה */
.tableWrapper {
  overflow-x: auto;
  margin-top: 20px;
}

.table {
  width: 100%;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.table th,
.table td {
  padding: 12px 15px;
  border: 1px solid #ddd;
  text-align: left;
}

.table th {
  background-color: #f2f2f2;
  font-weight: bold;
}

/* גריד */
.gridContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

.gridItem {
  background-color: #b0ad89;
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
}

.gridItem:hover {
  transform: translateY(-5px);
}

.gridItem p {
  margin: 5px 0;
  color: white;
}

.gridItem strong {
  color: rgb(0, 0, 0);
}

/* client */
.searchContainer {
  box-sizing: border-box;
  padding: 10px 20px;
  margin-top: 20px;
}

.searchSelectContainer {
  display: flex;
  flex-direction: row;
  width: 30%;
}

.searchInput {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  align-items: center;
  margin-left: 5px;
  margin-right: 5px;
}

.searchSelect {
  width: 15%;
  height: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f6f6f6;
  color: #222;
  font-size: 1.1em;
  transition: border 0.2s, box-shadow 0.2s;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.searchSelect:focus {
  border-color: #0a0210;
  box-shadow: 0 0 0 2px #8863a670;
  outline: none;
}

#count {
  font-weight: bold;
  margin-top: 10px;
}

.searchHeader {
  display: flex;
  justify-content: space-between;
}

.clientsHeader {
  font-family: fantasy;
  letter-spacing: 2px;
  font-size: 40px;
  margin-bottom: 20px;
}
